.root {
  background-color: #E3E3E3;
  text-align: center;
  color: #808080;
  padding: 20px 0 60px 0;
  line-height: 2;
}

.footerlink {
  max-width: 960px;
  border-top: 1px solid #808080;
  padding: 20px 0 10px 0;
  margin: 0 auto;
  font-size: 1em;
}

.root a {
  color: #F19E44;
  margin: 20px;
  padding: 15px;
  text-decoration: none;
}

