language: node_js

node_js:
  - "6.3.1"

sudo: false

git:
  depth: 1

branches:
  except:
    - gh-pages

env:
  global:
    - REPO="git@github.com:ocftw/civictechfest.org"
    - secure: "taq8Zo99jZV2Ek8n2JQR7y3h9G0iTRFd0wW/2fza3sRwigsGj/LhZK9CQtJ8FKO3ZD5cYeBF+RWKTVAoD2QayvtAhGoLksWZBD6J/HmDVRiroFSH8vzlURQ+j+JauTx/34/wS3J9sAJ8U2SOYLFAON+lVQdTyzCj1EHuMhk9kIIxU5AsRC/GVIxXg8mHnoaJ6FQL/1A/BJn0cu6iapGD8XUc76otEEkDrSctooj8p6Zin4UL3aWQg5CwStxSmp9MNULfz8ha7VLaeC2zl7QIYtNTqqNBCjp8Zao/fN68H1Tk7uZUiZ3gjMMNd6MustamfUS8Aol6dSmdhp1nuoU4nD6/t7C/Snen9urYkw+/v/PhhfUVbXWPXq+Th2p2kbeYJmL+Cn6PlJVhCLG5DV2XgGhsxoNFH7bsMyvfqLaVORUAuI9UgB7bXurtWibfK1UWzr+GslEIMevrXzNRp80SJjSIU8G6fD5cKQtUKMCdkB7UCXdt6XdiK1xiYsxx7DlNQiR+Ed/XHquw1foWJQZeA45GLUr4mlJgQa52nvQtexO1U5gA4A0bLU/SBRA8S9/syB5z0ZtSwPB/zgjjAcrmYq9EcmZTHgGQprN8oI+QbLgQQ1IhiqKnviLD0QmVkWAEYisqGxmI7N9k9RM2x1HuCDQOa5lnYFkhbYurPOtYWfA="

after_success: .travis/after_success.sh
