.root {
  background: #FFFFFF;
  box-shadow: 0px -1px 4px 0px rgba(0,0,0,0.50);
  background-color: rgba(255, 255, 255, 0.94);
  min-height: 400px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 103px;
  lost-utility: clearfix;
}

.header {
  text-align: center;
  padding-top: 20px;
}

.header-shrink {
  position: relative;
  left: -25%;
}



.speaker-shrink {
  float: left;
  width: 33.3%; 
  height: 210px;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
}

.speaker-parent {
  width: 50%;
}

.name {
  font-weight: bold;
}

.title {
}

/* speakers */

article[data-wide="true"] {
  max-width: 1200px;
}

.speakers {
  border-radius: 15px;
  border: 1px solid #B0B0B0;
  position: relative;
  padding: 20px;
  text-align: center;
  background: #fff;
  display: block;
  width: 100%;
  padding-top: 1em;
  margin: 3em auto;
}
.speakers .inner {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 20px;
}
.speakers .avatar {
  width: 60%;
  padding-top: 60%;
  display: inline-block;
  position: relative;
  margin: 15px;
}

.speakers .avatar:before {
  content: "";
  width: calc(100% + 16px);
  height: calc(100% + 16px);
  position: absolute;
  top: -9px;
  left: -9px;
  border: 1px solid #C9C9C9;
  border-radius: 50%;
}


.speakers .avatar span{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  top: 0;
  left: 0;
  background: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.speakers .about h3 {
  font-size: 1.4em;
  line-height: 1;
  font-weight: 400;
  margin: 20px auto;
  color: #666;
}
.speakers .about p {
  font-size: 1em;
  line-height: 1.5;
  color: #969696;
  margin: 0 auto;
}


.speakers .venue {
  position: absolute;
  display: inline;
  top: -1.5em;
  left: 0.5em;
  right: inherit;
}

.speakers .venue span {
  padding: 0.8em 1em 0.6em 1em;
  min-height: 1em;
  border-radius: 2em;
  font-size: 1.2em;
  background: #fff;
  display: inline-block;
  border: 1px solid #B0B0B0;
  position: relative;
  letter-spacing: 1px;
  margin-right: 5px;
}

.speakers .venue span:before {
  content: "";
  border-style: solid;
  border-color: #B0B0B0 #B0B0B0 transparent transparent ;
  border-width: 3px 4px 3px 4px;
  position: absolute;
  display: inline;
  bottom: -6px;
  left: 2em;

}
.speakers .venue span:after {
  content: "";
  border-style: solid;
  border-color: #fff #fff transparent transparent ;
  border-width: 2px 3px 2px 3px;
  position: absolute;
  bottom: -4px;
  left: calc(2em + 1px );
  display: inline;
}

.speakers[data-session="true"] {
  width: 30%;
  padding-top: 40%;
  margin: 1em 1.5%;
}
.speakers[data-session="true"] p {
  display: none;
}
.speakers[data-session="true"] .avatar {
  width: 80%;
  padding-top: 80%;
}
.speakers[data-session="true"] .about h3 {
  font-size: 1.2em;
}


@media screen and (min-width: 480px) {
  .speakers {
    width: 100%;
  }
  .speakers {
    width: 80%;
    max-width: 400px;
  }
  .speakers .avatar {
    width: 50%;
    padding-top: 50%;
  }

}

@media screen and (min-width: 768px) {
  .speakers {
    display: inline-block;
    width: 47%;
    padding-top: 55%;
    margin: 3em 1.5%;
  }
  .speakers .inner {
    position: absolute;
  }

  .speakers .avatar {
    width: 60%;
    padding-top: 60%;
  }

}

@media screen and (min-width: 992px) {
  .container {
    padding: 0 20px;
  }

  .speakers {
    width: 30%;
    padding-top: 40%;
    margin: 3em 1.5%;
  }

}

@media screen and (min-width: 1200px) {
  .speakers {
    width: 22%;
    padding-top: 33%;
    margin: 3em 1.5%;
  }

}


