
svg[data-icon="sideevent"] {
  color: inherit;
  fill: currentColor;
  width: 1.2em;
  height: 1.2em;
  display: inline;
  vertical-align: middle;
  margin-top: -4px;
}


.root {
  min-height: 400px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 30px;
  lost-utility: clearfix;
  position: relative;
}

@media screen and (max-width: 768px) {
  .root {
    background: rgba(255, 255, 255, 0.8);
    position: relative;
    width: 100%;
  }
}

.header {
  text-align: center;
  padding-top: 20px;
  font-size: 1.6em;
  margin-bottom: 40px;
}

.section {
  display: block;
  max-width: 960px;
  margin: 10px auto;
}


.sponsor {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  max-width: 960px;
  padding: 10px;
  text-align: left;
  border: 1px solid #999;
  zoom: 1;
  overflow: auto;
  border-radius: 3px;
}



.about {
  border-radius: 15px;
  border: 1px solid #B0B0B0;
  position: relative;
  display: inline-block;
  width: 100%;
  height: auto;
  margin: 10px auto;
}


.title {
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  background: #E6E6E6;
  top: 0;
  padding: 1.5em 2em;
}

.title h3 {
  font-size: 1.6em;
  color: #4D4D4D;
  line-height: 1;
  margin: 0 30px 0 auto;
}

.title h3, .title a {
  display: inline-block;
  vertical-align: middle;
}
.title a {
  color: #999;
}

.title p {
  color: #999;
  font-size: 1.2em;
  font-weight: 400;
  margin-bottom: 0;
  line-height: 1.5;
}
.title p svg {
  color: #29A8DF;
}

.title p span {
  margin-right: 18px;
}


.content {
  padding: 1.2em 1.5em;
  border-radius: 16px;
  display: -webkit-flex;
  display: flex;
  background: rgba(255, 255, 255, 0.8);
}

.content .logo {
  -webkit-flex: initial;
  flex: initial;
  max-width: 240px;
  min-width: 180px;
  height: auto;
  background: #fff;
  border-radius: 16px;
  overflow: hidden;
}

.logo img {
  width: 100%;
  height: auto;
  top: 0;
  border-radius: 16px;
}

a[data-islink="false"]{
  display: none;
}

.content .desc {
  -webkit-flex: 1;
  flex: 1;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  display: inline-block;
  font-size: 1em;
  line-height: 1.7;
  margin-top: 0;
  word-wrap: break-word;
  text-align: justify;
  position: relative;
  padding: 0 0 0 2em;
}

.desc p {
  margin-top: 0;
  margin-bottom: 0.7em;
}

.desc h4 {
  font-weight: 400;
  margin-bottom: 0;
  font-size: 1.2em;
}

.desc dl {
  padding-left: 1em;
}

.desc dt {
  color: #F19E44;
  font-weight: 600;
}

.desc dd {
  margin-left: 26px;
}

.brief {
  font-size: 1.2em;
  color: #F19E44;
}

.brief i {
  font-size: 1em;
  padding-bottom: 8px;
}

.remind[data-type="none"]{
  display: none;
}

.remind[data-type="notitle"] h4{
  display: none;
}


.eventbtn {
  display: inline-block;
  border: 2px solid #F19E44;
  border-radius: 2em;
  padding: 0.3em 2em 0.4em 2em;
  min-height: 1.7em;
  font-size: 1.2em;
  font-weight: 600;
  color: #F19E44;
  margin: 10px auto; 
  text-align: center;
  position: relative;
  transition: all 0.4s linear;
  vertical-align: middle;
}


.eventbtn:hover {
  background: #F19E44;
  color: #fff;
}

.eventbtn[data-islink="false"]{
  display: none;
}

.host {
  display: inline-block;
  vertical-align: middle;
  float: right;
  color: #bbb;
}

.host img {
  display: inline-block;
  vertical-align: middle;
  height: 80px;
  width: auto;
  margin-left: 15px;
}


/* top section */
.topsection {
  display: block;
  max-width: 1200px;
  margin: 10px auto;
}
.topsection .content {
  justify-content: center;
  padding-top: 0;
}

.topsection .logo {
  max-width: 420px;
  min-width: 250px;
  flex: 1;
}

.topsection .desc {
  padding: 0 2em;
  max-width: 720px;
  margin: 0 auto;
}

/* dateline & eventdate dot */

.dateline ul {
  list-style: none;
  font-size: 1em;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: top;
  width: 100%;
  padding: 0;
  vertical-align: top;
}
.dateline ul:before {
  content: "";
  display: inline-block;
  width: 100%;
  position: absolute;
  top: 1em;
  z-index: -1;
  border-top: 1px solid #E3E3E3;
}

.dateline li {
  margin: 0 10px;
  text-align: center;
  vertical-align: top;
  color: #666;
}

.dateline li a {
  display: block;
}

.dateline li span, .blue_dateline span {
  border: 2px solid;
  border-radius: 50%;
  display: inline-block;
  width: 2em;
  height: 2em;
  color: #29A8DF;
  line-height: 1.8em;
  background: #fff;
  margin: 0 3px;
  text-align: center;
}

.dateline li p {
  line-height: 1;
  margin: 1em auto;
}

.dateline li.main span {
  color: #F19E44;
  border-color: #F19E44;
}

.blue_dateline span {
    border-color: #29A8DF;
}

.blue_dateline {
  margin: -20px -20px 20px -20px;
  text-align: center;
}

.blue_dateline span.grey {
  color: #FFF;
  border-color: #E3E3E3;
}



@media screen and (max-width: 992px) {
  .content {
  display: block;
  }
  .content .logo {
    margin: 15px auto;
    display: block;
  }
  .content .desc {
    display: block;
    padding: 0 1em;
  }
  .section {
    max-width: 720px;
  }
  .topsection .desc {
    padding: 0;
  }
}

@media screen and (max-width: 768px) {

}


@media screen and (max-width: 480px) {
  .root {
    padding-left: 15px;
    padding-right: 15px;
  }
  .content {
    padding: 0 1em;
  }
  .content .desc {
    word-wrap: normal;
    text-align: left;
    padding: 0;
  }
  .title {
    padding: 1em;
  }
  .title p span {
    display: block;
  }
}




@media screen and (min-width: 768px) {
  .dateline li span, .blue_dateline span {
    border: 3px solid;
    line-height: 1.7em;
  }
  .blue_dateline span {
      border-color: #29A8DF;
  }
}

