.root {
  background-color: #E3E3E3;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 2.5em;
}

.header {
  text-align: center;
  padding-top: 20px;
  color: #B0B0B0;
}

.section {
  text-align: center;
  padding-bottom: 10px;
  max-width: 1100px;
  margin: 0 auto;
}

.sponsor {
  display: inline-block;
  vertical-align: middle;
  height: 120px;
  text-align: center;
  margin: 0 10px 20px 10px;
  padding: 5px  10px;
  text-decoration: none;
}

.logo {
  width: auto;
  height: 100%;
}

.name {
  display: block;
  font-weight: bold;
  color: #F19E44;
  text-decoration: none;
  font-size: 1em;
  padding-top: 5px;
}

a.sponsor:hover .name {
  text-decoration: underline;
}
