.root {
  background-color: #E3E3E3;
  text-align: center;
  padding-bottom: 30px;
}

.header {
  text-align: center;
  padding-top: 20px;
  color: #B0B0B0;
}

.section {
  text-align: center;
  padding-bottom: 10px;
}

.sponsor {
  display: inline-block;
  vertical-align: middle;
  width: 260px;
  text-align: center;
  margin:10px 15px 20px 15px;
  text-decoration: none;
}

.logo {
  border-radius: 15px;
}

.logo {
  width: 100%;
  height: auto;
}

.name {
  display: block;
  font-weight: bold;
  color: #F19E44;
  text-decoration: none;
  font-size: 15px;
  padding-top: 5px;
}

a.sponsor:hover .name {
  text-decoration: underline;
}
