.root {
  position: relative;
}

@media screen and (max-width: 830px) {
  .root {
	position: relative;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.47);
}
}

article {
	display: block;
  max-width: 960px;
  min-height: 900px;
  margin: 0 auto;
}

.banner {
	position: relative;
	display: block;
	width: 100%;
}

.hero {
  max-width: 100%;
}

.herotext {
	position: absolute;
  color: #fff;
  bottom: 13%;
  left: 52%;
}

.herotext h1 {
	font-size: 4em;
	margin: 0.2em 0;
}
.herotext h2 {
	font-size: 3em;
	margin: 0.2em 0;
}

@media screen and (max-width: 1280px) {
.herotext h1 {
	font-size: 3em;
}
.herotext h2 {
	font-size: 2em;
}

}


.brief {
	max-width: 660px;
	padding-left: 30px;
	margin: 60px auto;
	position: relative;
}
.brief::before, .brief::after {
  font-size: 6em;
  position: absolute;
  top: -20px;
  bottom: 0;
  margin: 0;
  color: #ccc;
}

.brief::before {
  content: "{";
  left: -50px;
}
.brief::after {
  content: "}";
  right: -50px;
}
.brief p {
  color: #4D4D4D;
  font-size: 1.8em;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 1px;
}
