


.root {
  position: relative;
}

@media screen and (max-width: 830px) {
  .root {
	position: relative;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.47);
	}
}

article {
  display: block;
  max-width: 960px;
  margin: 30px auto 30px auto;
}

.banner {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	background: #F19E44;
	text-align: center;
	overflow: hidden;
}

.hero {
  width: 100%;
  height: auto;
	display: none;
}

.shero {
	height: 100%;
	width: auto;
	display: block;
	max-height: 600px;
}
.heroimg {
	display: flex;
	justify-content: center;
}
.herotext {
  position: absolute;
  color: #fff;
  top: 0;
  bottom:0;
  left: 0;
  right: 0;
}

.herotext h1 {
	font-size: 2.2em;
	margin: 1em 0;
}
.herotext h2 {
	font-size: 1.7em;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 2em;
}



.brief {
	max-width: 660px;
	padding: 0 50px;
	margin: 60px auto;
	position: relative;
}
.brief::before, .brief::after {
  font-size: 5em;
  position: absolute;
  top: -20px;
  bottom: 0;
  margin: 0;
  color: #ccc;
}

.brief::before {
  content: "{";
  left: 10px;
}
.brief::after {
  content: "}";
  right: 10px;
}
.brief p {
  color: #4D4D4D;
  font-size: 1em;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 1px;
}


/* dateline & eventdate dot */

.dateline ul {
	list-style: none;
	font-size: 0.7em;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: top;
	width: 100%;
	padding: 0;
	vertical-align: top;
}
.dateline ul:before {
	content: "";
	display: inline-block;
	width: 100%;
	position: absolute;
	top: 1em;
	z-index: -1;
	border-top: 1px solid #E3E3E3;
}

.dateline li {
	margin: 0 10px;
	text-align: center;
	vertical-align: top;
	color: #666;
}

.dateline li a {
	display: block;
}

.dateline li span, .eventdate span, .blue_dateline span, .orange_dateline span {
	border: 2px solid;
	border-radius: 50%;
	display: inline-block;
	width: 2em;
	height: 2em;
	color: #29A8DF;
	line-height: 1.7em;
	background: #fff;
	margin: 0 10px;
	text-align: center;
}

.dateline li p {
	line-height: 2;
}

.dateline li.main span, .mainevent .eventdate span, .orange_dateline span {
	color: #F19E44;
	border-color: #F19E44;
}

.blue_dateline span {
    border-color: #29A8DF;
}

.blue_dateline, .orange_dateline {
	margin: -20px auto 80px auto;
	text-align: center;
}

.blue_dateline span, .orange_dateline span {
	margin: 0 5px;
}

.blue_dateline span.grey, .orange_dateline span.grey {
	color: #FFF;
	border-color: #E3E3E3;
}

.dateline li.main p {
	font-size: 2em;
	line-height: 0;
}
.dateline li.main h6 {
	font-size: 0.6em;
	color: #B0B0B0;
	line-height: 1.5;
	margin: 0 auto;
}

.dateline li.month {
	color: #B0B0B0;
}
.dateline li.month span, .eventdate span:first-child {
	border: 3px solid #B0B0B0;
	font-size: 1.8em;
	height: 1.4em;
	width: auto;
	border-radius: 0.7em;
	line-height: 1.2;
	color: #B0B0B0;
	margin-top: -5px;
	padding: 0 10px;
}
.dateline li.month p {
	font-size: 1.3em;
	line-height: 0.7;
}


@media screen and (min-width: 1200px) {
	.dateline{
		text-align: center;
	}
	.dateline ul {
	display: inline-flex;
	width: auto;
	}
}

/* topic */

.container {
	background: transparent;
	margin: 30px auto;
	padding: 0 20px;
}

.container h2 {
	margin: 60px auto 30px auto;
	text-align: center;
	font-size: 2em;
}

.orange {
	color: #F19E44;
}

.blue {
	color: #29A8DF;
}


/* events */

.mainevent, .sideevents {
	border-radius: 15px;
	border: 1px solid #B0B0B0;
	position: relative;
	display: inline-block;
}

.eventimg img[data-type="logo"] {
	width: 100%;
	height: auto;
	top: 0;
	max-width: 300px;
	margin: 3em auto;
}

.eventimg img[data-type="pic"] {
	width: 100%;
	height: auto;
	top: 0;
}

.eventcontent {
	padding: 0 1.5em 2em 1.5em;
	background: rgba(255, 255, 255, 0.8);
}

.eventcontent p:before {
	content: "";
	width: 0.5em;
	height: 0.5em;
	display: block;
	position: absolute;
	border-right: 3px solid #F19E44;
	border-bottom: 3px solid #F19E44;
}

.eventbtn {
	display: block;
	border: 3px solid #F19E44;
	border-radius: 1em;
	padding: 0.1em 1em 0.3em 1em;
	min-height: 1.7em;
	font-size: 1.7em;
	font-weight: 600;
	color: #F19E44;
	margin: 10px auto; 
	text-align: center;
	position: relative;
	transition: all 0.4s linear;
	max-width: 500px;
}

.mainevent .eventbtn {
	margin: 15px 40px; 
	font-size: 2em;
	min-height: 2em;
	padding: 0.3em 1em;
}

.eventbtn:hover {
	background: #F19E44;
	color: #fff;
}

.eventbtn[data-islink="false"]{
	display: none;
}

/* event date */

.eventdate, .venue, .tab {
	position: absolute;
	display: inline;
}

.eventdate {
	top: -1.2em;
	right: 0;
	left: 0;
	margin: auto;
	text-align: center;
}

.eventdate div {
	position: relative;
	display: inline-block;
}

.eventdate div span:first-child {
	position: absolute;
	left: -4em;
	top: 0.2em;
	font-size: 1.5em;
}

/* venue tab */

.venue {
	top: -1.5em;
	right: 1em;
}

.venue span {
	padding: 0.8em 1em 0.6em 2.5em;
	min-height: 1em;
	border-radius: 2em;
	font-size: medium;
	background: #fff;
	display: inline-block;
	border: 1px solid #B0B0B0;
	position: relative;
	letter-spacing: 1px;
}

.venue span:before {
	content: "";
	border-style: solid;
	border-color: #B0B0B0  transparent transparent #B0B0B0;
	border-width: 3px 4px 3px 4px;
	position: absolute;
	bottom: -6px;
	left: 2em;
}
.venue span:after {
	content: "";
	border-style: solid;
	border-color: #fff  transparent transparent #fff;
	border-width: 2px 3px 2px 3px;
	position: absolute;
	bottom: -4px;
	left: calc(2em + 1px );
}

.venue span i{
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 1.5em;  /* Preferred icon size */
  display: inline-block;
  line-height: 0.5;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  position: absolute;
  top: 0.6em;
  left: 0.5em;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

*[data-color="1"] {
	color: #EE5A24;
}
*[data-color="2"] {
	color: #F19E44;
}
*[data-color="3"] {
	color: #FBC718;
}
*[data-color="4"] {
	color: #89C33f;
}
*[data-color="5"] {
	color: #29A8DF;
}
*[data-color="6"] {
	color: #C7368E;
}


.tab {
	top: 30px;
	right: -5px;
	text-align: right;
	font-size: xx-small;
	color: #fff;
}

.tab span {
	display: inline;
	background: #89C33F;
	padding: 5px 10px;
	border-top-right-radius: 0.3em;
	border-bottom-right-radius: 0.3em;
	border-top-left-radius: 1.5em;
	border-bottom-left-radius: 1.5em;
	line-height: 3;
}

.tab span.tabblue {
	background: #29A8DF;
}

/* mainevent block */

.mainevent {
	display: block;
	width: 100%;
	height: auto;
	margin: 10px auto 20px auto;
}

.mainevent .eventimg {
	flex: initial;
	width: 100%;
	min-width: 150px;
	background: #fff;
	border-radius: 16px;
	overflow: hidden;
	padding: 40px 20px 0 20px;
	text-align: center;
}

.mainevent .eventcontent {
	flex: 1;
	display: block;
	border-radius: 16px;
} 

.mainevent .eventcontent h3 {
	font-size: 2.5em;
	font-weight: 600;
	line-height: 1;
	margin: 0.7em auto;
}
.mainevent .eventcontent p {
	display: inline-block;
	font-size: 1.2em;
	line-height: 1.8;
	margin-top: 0;
	word-wrap: break-word;
	text-align: justify;
	padding: 0 1.5em 0 2em;
	position: relative;
}
.mainevent .eventcontent p:before {
	top: 10px;
	left: 5px;
	transform: rotate(45deg);
}


/* side events */

.sideevents {
	flex-direction: column;
	width: 100%;
	padding-top: 60%;
	margin-bottom: 5em;
	display: inline-block;
}

.sideevents:nth-child(2n) {
	margin-left: 0;
}


.overhidden {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	overflow: hidden;
	border-radius: 15px;
}

.sideevents .eventimg, .sideevents .eventcontent {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
}

.sideevents .eventimg {
	top: 0;
	width: 100%;
	height: 300px; 
	background: transparent;
	border-radius: 16px;
	text-align: center;
}

.sideevents .eventcontent {
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
	top: 58%;
	transition: all 0.5s ease;
	padding-top: 1.5em;
	height: 100%;
	display: none;
} 

.sideevents .eventcontent:hover, .sideevents .eventcontent:focus, .sideevents .eventcontent[data-open="true"] {
    position: absolute;
    top: 0;
}

.sideevents .eventcontent h3 {
	font-size: 2em;
	font-weight: 600;
	line-height: 1;
	margin: 0.7em auto;
}
.sideevents .eventcontent p {
	display: inline-block;
	font-size: 1em;
	line-height: 1.5;
	margin-top: 0;
	word-wrap: break-word;
	text-align: justify;
	padding: 0 1em 0 1.5em;
	position: relative;
}

.sideevents .eventcontent p:before {
	left: 5px;
	top: 5px;
	transform: rotate(-45deg);
	transition: all 0.5s ease;
}

.eventcontent:hover p:before, .eventcontent:focus p:before, .eventcontent[data-open="true"] p:before {
	transform: rotate(45deg);
}



/* speakers */

article[data-wide="true"] {
	max-width: 1200px;
}

.speakers {
	border-radius: 15px;
	border: 1px solid #B0B0B0;
	position: relative;
	padding: 20px;
	text-align: center;
	background: #fff;
	display: block;
	width: 80%;
	padding-top: 100%;
	margin: 3em auto;
}
.speakers .inner {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	padding: 20px;

}
.speakers .avatar {
	width: 60%;
	padding-top: 60%;
	display: inline-block;
	position: relative;
	margin: 30px 20px 20px 20px;
}

.speakers .avatar:before {
	content: "";
	width: calc(100% + 16px);
	height: calc(100% + 16px);
	position: absolute;
	top: -9px;
	left: -9px;
	border: 1px solid #C9C9C9;
	border-radius: 50%;
}


.speakers .avatar span{
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	object-fit: cover;
  object-position: center;
  border-radius: 50%;
  top: 0;
  left: 0;
  background: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.speakers .about h3 {
	font-size: 1.5em;
	line-height: 1;
	font-weight: 400;
	margin: 20px auto;
}
.speakers .about p {
	font-size: 1em;
	line-height: 1.5;
	color: #969696;
	margin: 0 auto;
}


.speakers .venue {
	position: absolute;
	display: inline;
	top: -1.5em;
	left: 0.5em;
	right: inherit;
}

.speakers .venue span {
	padding: 0.8em 1em 0.6em 1em;
	min-height: 1em;
	border-radius: 2em;
	font-size: medium;
	background: #fff;
	display: inline-block;
	border: 1px solid #B0B0B0;
	position: relative;
	letter-spacing: 1px;
	margin-right: 5px;
}

.speakers .venue span:before {
	content: "";
	border-style: solid;
	border-color: #B0B0B0 #B0B0B0 transparent transparent ;
	border-width: 3px 4px 3px 4px;
	position: absolute;
	display: inline;
	bottom: -6px;
	left: 2em;

}
.speakers .venue span:after {
	content: "";
	border-style: solid;
	border-color: #fff #fff transparent transparent ;
	border-width: 2px 3px 2px 3px;
	position: absolute;
	bottom: -4px;
	left: calc(2em + 1px );
	display: inline;
}






@media screen and (min-width: 480px) {
	.speakers {
		width: 100%;
		padding-top: 90%;
	}
}

@media screen and (min-width: 768px) {
	.brief::before, .brief::after {
	  font-size: 6em;
	}
	.brief::before {
  	left: -50px;
	}
	.brief::after {
	  right: -50px;
	}
	.brief {
		padding-left: 30px;
	}
	.brief p {
	  font-size: 1.8em;
	}
	.dateline ul {
		font-size: 1em;
	}
	.dateline li span, .eventdate span, .blue_dateline span, .orange_dateline span {
		border: 3px solid;
		line-height: 1.6em;
	}
	.blue_dateline span {
	    border-color: #29A8DF;
	}
	.orange_dateline span {
	    border-color: #F19E44;
	}
	.speakers {
		display: inline-block;
		width: 47%;
		padding-top: 50%;
		margin: 3em 1.5%;
	}
	.banner {
		height: auto;
		text-align: left;
	}

	.hero {
		display: block;
	}

	.shero {
		display: none;
	}
	.heroimg {
		display: block;
	}
	.herotext {
	  position: absolute;
	  top: auto;
	  bottom:13%;
	  left: 52%;
	  right: auto;
	}

	.herotext h1 {
		font-size: 4em;
		margin: 0.2em 0;
	}
	.herotext h2 {
		position: relative;
		font-size: 3em;
		margin: 0.2em 0;
		bottom: 0;
	}
	.sideevents .eventcontent {
		display: inline-block;
	} 
}

@media screen and (min-width: 992px) {
	.container {
		padding: 0;
	}
	.mainevent { display: flex; }
	.eventcontent {
		padding: 1.5em 1.5em 2em 1.5em;
	}
	.mainevent .eventimg {
		display: inline-block;
		max-width: 300px;
	}
	.mainevent .eventcontent {
		display: inline-block;
	}
	.sideevents {
		width: 48%;
		padding-top: 40%;
	}

	.sideevents:nth-child(2n) {
		margin-left: 4%;
	}
	.speakers {
		width: 30%;
		padding-top: 35%;
		margin: 3em 1.5%;
	}
}

@media screen and (min-width: 1200px) {
	.speakers {
		width: 22%;
		padding-top: 30%;
		margin: 3em 1.5%;
	}

}
