.root {
  position: relative;
}

@media screen and (max-width: 830px) {
  .root {
	position: relative;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.47);
}
}

h2 {
  color: #fff;
}

.hero {
  max-width: 100%;
}

@media screen and (max-width: 430px) {
  .heroleft {
	position: absolute;
	left: 36%;
	transform: translateX(-50%);
	top: -5px;
	color: white;
	margin-bottom: 0;
	width: 220px;
	font-size: 18px;
  }

  .heroright {
	display: none;
  }
}

@media screen and (min-width: 430px) {
  .heroleft {
	position: absolute;
	top: 15%;
	left: 15%;
	font-size: 1.2em;
  }

  .heroright {
	position: absolute;
	top: 60%;
	right: 14%;
	font-size: 1.2em;
  }
}
