$breakpoint: 1000px;
$breakpoint2: 1600px;


:global {
.Session {
  background: white;
  width: 100%;
  height: 100%;
  position: relative;
  text-align: left;
}
.Session a, .Session a:visited{
  color: #F19E44;
  font-weight: 600;
}

.Session a .material-icons {
  font-size: 1em;
  padding-left: 10px;
}

.Session p {
  white-space: pre-wrap;
}
.Session-close {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 0;
  right: 0;
  border-radius: 44px;
  cursor: pointer;
  display: inline-block;
}
.Session-close:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  content: '';
}
.Session-close:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  content: '';
}
.Session-close:before, .Session-close:after {
  -webkit-transition: background .3s;
  transition: background .3s;
  width: 40px;
  height: 2px;
  top: 30px;
  right: 20px;
  position: absolute;
  margin-left: -10px;
  margin-top: -1px;
  background: grey;
  opacity: 1;
}
.Session-close:hover:before, .Session-close:hover:after {
  opacity: 0.7;
}
.Session-content {
    padding: 10px 20px;
    line-height: 1.6;
    background: white;
}
@media screen and (min-width: $breakpoint){
    .Session-close{
      right: 20px;
      top: 20px;
    }
    .Session-content {
      padding: 10px 40px;
      max-width: 40em; /* Don't make text too long & difficult to read */
    }
}
@media screen and (min-width: $breakpoint2){
    .Session-close{
      right: 20px;
      top: 20px;
    }
    .Session-content {
      padding: 10px 40px;
      max-width: 40em; /* Don't make text too long & difficult to read */
    }
}
.Session-meta {
  font-size: 1em;
  display: inline-block;
}
.Session-time {
  display: inline-block;
  margin-right: 10px;

}
.Session-venue {
  display: inline-block;
  padding: 1px 6px;
  margin-right: 10px;
  color: gray;
  background: rgb(220,220,220);
  border-radius: 4px;
}
.Session-en {
  display: inline-block;
  background: rgb(207,43,43);
 /* rgb(213,62,79);*/
  color: white;
  padding: 0 4px ;
}

.Session-title {
  position: relative;
  margin: 0;
  width: 100%;
  height: auto;
  padding: 30px 100px 10px 40px;
} 
.Session-title h3 {
  font-size: 1.6em;
  font-weight: 700;
  color: #F19E44;
  margin: 0;
  line-height: 1.5;
}
.Session-subTitle {
  font-weight: 600;
  font-size: 1.2em;
  color: #5d5d5d;
}

.Session-presenter {
  position: relative;
  height: auto;
  margin: 60px 0 100px 0;
  min-height: 120px;
}

.Session-presenter-name {
  color: rgb(55,54,53);
  font-size: 1.6em;
  position: relative;
}

.Session-presenter-name a {
  display: inline-block;
  width: 24px;
}

.Session-presenter-avatar {
  position: absolute;
  top: -45px;
  right: 0;
  width: 128px;
  height: 128px !important;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  background-color: rgba(254, 220, 117, 0.74);
}

.Session-social {
  width: 24px;
  margin: auto;
  top: 0;
  bottom: 0;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.74);
}

.Session-twitter, .Session-facebook {
  margin-left: 10px;
}

.Session-category {
  position: relative;
  vertical-align: top;
  font-size: 1em;
  color: rgb(80,80,80);
  margin-bottom: 10px;
}
.Session-categoryIcon {
  display: inline-block;

  width: 12px;
  height: 12px;
  vertical-align: top;
  margin-top: 2px;
  margin-right: 6px;
  border-radius: 2px;
}

.Session-interview {
  position: relative;
  height: 0;
  overflow: hidden;
  width: 100%;
  padding-bottom: 56.25%;
}

.Session-interview h4 {
  margin-top: 15px;
  background: #f3f3f3;
  padding: 5px 15px;
  font-size: 1em;
  color: #333;
  font-weight: 300;
}

.Session-interview iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 49px;
}

.Session-video {
  position: relative;
  height: 0;
  overflow: hidden;
  width: 100%;
  padding-bottom: 56.25%;
}

.Session-video h4 {
  margin: 0;
}

.Session-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.Session-abstract {
  margin: 30px 0;
  color: rgb(53,55,54);
}
.Session-biography {
  margin: 40px 0;
  color: rgb(53,55,54);
}
.Session-abstract p, .Session-biography p {
  margin: 20px 0;
  color: rgb(53,55,54);
  word-wrap: break-word;
  text-align: justify;
}

}
