$breakpoint: 1000px;
$breakpoint2: 1600px;
$container-width: 1000px;
$appbar-height: 60px;

.root {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px -1px 4px 0px rgba(0,0,0,0.50);
  position: relative; /* For backdrop */
  lost-utility: clearfix;
}

.backdrop {
  background: rgba(255, 255, 255, .5);
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -1;
  opacity: 0;
  transition: opacity .2s;
}

.backdrop.isShown {
  opacity: 1;
  z-index: 5;
}

.container {
  max-width: $container-width;
  position: relative; /* For absolute-positioned filter */
  margin: 0 auto;
}

.container h2 {
  margin: 30px auto;
  text-align: center;
  font-size: 1.6em;
  color: #4D4d4D;
}
.container h1 {
  margin: 30px 0;
  text-align: left;
  display: block;
  font-size: 1.6em;
  text-align: center;
}

/* date line dot */

.orange_dateline span {
  border: 3px solid #F19E44;
  border-radius: 50%;
  display: inline-block;
  width: 2em;
  height: 2em;
  color: #F19E44;
  line-height: 1.7em;
  background: #fff;
  margin: 0 3px;
  text-align: center;
  font-size: $mobile-fontsize;
}

.orange_dateline {
  margin: -10px -20px 30px -20px;
  text-align: center;
}

.orange_dateline span.grey {
  color: #FFF;
  border-color: #E3E3E3;
}


body.mobileScrollLock {
  overflow: hidden;
}

[class^="icon-"], [class*=" icon-"] {
  margin-right: 6px;
}

span.gicon {
  font-family: 'Material Icons';
  vertical-align: bottom;
  padding-right: 3px;
}
span.nobreak {
  display: inline-block;
}

@media screen and (min-width: $breakpoint) {
  body.mobileScrollLock {
    overflow: auto;
  }
}

/* Stuff directly stolen from coscup... :P */
:global {

.Home-filter {
  display: none;
}
.Home-session {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow-y: auto;
  transition: transform .2s cubic-bezier(.4,0,.2,1);
  z-index: 200;
  transform: translate3d(100%, 0, 0);
}
.Home-session.is-show {
  transform: translate3d(0, 0, 0);
}

.Home-section.is-hidden {
  display: none;
}

.Home-section {
  border: 1px solid #B0B0B0;
  border-radius: 0px;
  overflow: hidden;
  border-top-left-radius: 0; 
  margin-bottom: 15px;
  border-left: 0;
  border-right: 0;
}

@media screen and (min-width: $breakpoint){
  $filter-width: 220px;
  $filter-shirnked-width: 50px;

  .Home-filter {
    width: $filter-width;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    padding: 1.5em;
  }

  .Home-schedule {
    margin-right: $filter-width;
    position: relative; /* make z-index work & moves when session is showed up */
    z-index: 10;
    transition: left .2s cubic-bezier(.4,0,.2,1); /* Cannot use transform because we've got a sticky schedule title */
    left: 0;
    width: calc(1000px - $filter-width - 15px);
  }
  .Home-schedule.with-session {
    left: calc($filter-shirnked-width - $filter-width);
  }
  .Home-schedule .sticky {
    /* Overriding react-sticky to make sticky items move with Home-Schedule */
    left: 0;
    transform: translate3d(0,0,0);
    transition: transform .2s cubic-bezier(.4,0,.2,1);
  }
  .Home-schedule.with-session .sticky {
    transform: translate3d(calc($filter-shirnked-width - $filter-width),0,0);
  }
  .Home-session {
    position: fixed;
    opacity: 0;
    left: 50%;
    width: 50%;
    height: calc(100vh - $appbar-height);
    overflow-y: auto;
    transition-property: opacity, transform;

    margin-top: $appbar-height;
    box-shadow: -3px 4px 4px rgba(0,0,0,.2);
  }
  .Home-session.is-show {
    opacity: 1;
  }
}

@media screen and (min-width: $breakpoint2){
  .Home-session {
    left: 60%;
    width: 40%;
  }
}

.Schedule {
  min-height: 100vh;
  position: relative;
  background: white;
  z-index: 10;
}

.Schedule .sticky {
  z-index: 20;
  border-bottom: 1px solid #B0B0B0;
}

.Schedule-title {
  background: rgba(255, 255, 255, .9);
  width: 100%;
  z-index: 20;
  display: flex;
}

.Schedule-switchBtn {
  line-height: 30px;
  align-self: center;
  cursor: pointer;
  position: absolute;
  top: calc(100% + 1px);
  background: #fff;
  padding: 0 15px;
  text-align: right;
  right: 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  opacity: 0.8;
}
@media screen and (min-width: $breakpoint){
  .Schedule-title {
    background: white;
    width: 100%;
  }
  .Schedule-switchBtn {
  line-height: 56px;
  margin: 0 20px 0 auto;
  position: relative;
  padding: 0;
  opacity: 1;
}

}


/* FILTER */
.Schedule-filterBtn {
  color: rgb(80,80,80);
  align-self: center;
  text-align: center;
  line-height: 56px;
  width: 56px;
  height: 56px;
  cursor: pointer;
  transition: all .3s;
  margin-left: 16px;
  margin-right: 8px;

  position: relative; /* for bar1 and bar2 */
}
.Schedule-filterBtn:hover {
  color: rgb(53,55,54);
}
.Schedule-filterBtn.is-show {
  color: transparent; /* Hide "Filter" button text when filter is shown */
}

.Schedule-bar1, .Schedule-bar2 {
  content: '';
  border-top: 2px solid transparent;
  position: absolute;
  top: 28px;
  width: 40px;
  left: 8px;
  transform: rotate(0deg);
}

.Schedule-bar1.is-active, .Schedule-bar2.is-active {
  content: '';
  border-color: rgb(213,62,79);
  transition: transform .3s cubic-bezier(.4,0,.2,1);
}

.Schedule-bar1.is-active {
  transform: rotate(45deg);
}
.Schedule-bar2.is-active {
  transform: rotate(-45deg);
}

.Schedule-filterPanel {
  max-height: 0px;
  overflow: hidden;
  will-change: max-height;
  background: rgba(255, 255, 255, .9);
  transition: all .2s cubic-bezier(0, 1, 0.5, 1);
}
.Schedule-filterPanel.is-show {
  max-height: calc(100vh - 80px);
  border-bottom: 1px solid gray;
}

@media screen and (min-width: $breakpoint){
  /* No filterButton and filterPanel on desktop */
  .Schedule-filterBtn {
    display: none;
  }

  .Schedule-filterPanel.is-show.is-show {
     display: none;
  }
}

/* ===================== */

$category-icon-size: 16px;
$computer-padding: 20px;
$mobile-padding: 14px;
$mobile-item-leftstop: 96px;
$mobile-fontsize: 1em;

.Schedule-dayButton {
  font-size: $mobile-fontsize;
  text-transform: uppercase;
  padding: $mobile-padding $mobile-padding 10px;
  cursor: pointer;
  margin-right: 3px;
  border: 1px solid #B0B0B0;
  border-bottom: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #fff;
  position: relative;
  text-align: center;
}
.Schedule-dayButton:hover, .Schedule-dayButton.is-active {
  color: #F19E44;
  background-color: #F2F2F2;
}
.Schedule-dayButton.is-active:before {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  border-bottom: 1px solid #F2F2F2;
  width: 100%;
  left: 0;
}

.Schedule-day {
  background: #f3f3f3;
  border-bottom: 1px solid rgb(220,220,220);
  font-size: $mobile-fontsize;
  padding: $mobile-padding;
  font-weight: bold;
}
.Schedule-keynote {
  background: #EDF7CF;
  color: #8CAE52;
}

.Schedule-item:not(.Schedule-keynote) + .Schedule-keynote {
  /* topic-view only: end of parallel session, make border more distinct */
  margin-top: 2px;
  border-top: 1px solid rgb(220,220,220);
}
.Schedule-item {
  display: flex;
  font-size: $mobile-fontsize;
  border-bottom: 1px solid rgb(220,220,220);

  > .Schedule-event {
    flex: 1 0 0;
  }
}
.Schedule-item[data-venue] {
  color:#fff;
  background: #ccc;
}
.Schedule-main h4 {
  margin: 0;
  max-width: 430px;
}
.Schedule-main h5 {
  margin: 0;
  max-width: 430px;
  font-weight: 300;
  position: relative;
  color: #808080;
  margin-bottom: 1px;
}
.Schedule-main p {
  margin-bottom: 0;
}
.Schedule-presenter p, .Schedule-note p {
  color: rgb(125,124,123);
  font-size: 0.9em;
  font-weight: normal;
  text-indent: calc(-1.1em - 5px);
  padding-left: 1.1em;
  margin-top: 0.8em;
}
.Schedule-presenter p:before, .Schedule-note p:before {
  content: "";
  font-family: 'Material Icons';
  vertical-align: bottom;
  padding: 0 3px 1px 3px;
}
.Schedule-presenter p:before {
  content: "person";
}
.Schedule-note p:before {
  content: "priority_high";
}

.Schedule-anchor {
  font-size: 0.9em;
  margin-top: 4px;
  font-weight: normal;
}

.Schedule-time {
  width: calc($mobile-item-leftstop - 28px);  /* 14px = event left padding */
  padding: $computer-padding $mobile-padding;
  font-size: 0.9em;
}
.Schedule-timeEnd {
  display: none;
}
.Schedule-event, .Schedule-tagline {
  color: inherit; /* override <a> color */
  display: block;
  position: relative; /* For categoryIcon */
  font-weight: bold;
  text-decoration: none;
  padding: $computer-padding $mobile-padding $mobile-padding;
  transition: background .3s;
  border-bottom: 1px solid rgb(220,220,220);

  &:last-child {
    border-bottom: none;
  }
}

.Schedule-tagline {
  flex-direction: column;
}

.Schedule-event.is-active {
  background: #FFF7CB;
}
a.Schedule-event:hover {
  background: #FFF7CB;
  transition: background .3s;
}
a.Schedule-event:before {
  content: "•••";
  position: absolute;
  left: -2em;
  color: #808080;
  font-size: $mobile-fontsize;
  letter-spacing: 3px;
  padding-top: $computer-padding;
  top:0;
  opacity: 0;
  transition: opacity 0.4s linear;
  display: none;
}
a.Schedule-event:hover:before {
  opacity: 1;
}

.Schedule-events {
  flex: 1 0 0;
}
.Schedule-venue {
  display: inline-block;
  padding: 1px 8px;
  margin-bottom: 5px;
  font-size: $mobile-fontsize;
  background: rgb(220,220,220);
  border-radius: 4px;
  color: gray;
}
.Schedule-en {
  color: rgb(207,43,43);
  display: inline-block;
  padding: 0 4px;
}

.Schedule-categoryIcon {
  position: absolute;
  top: 9px;
  right: 10px;
  display: block;
  line-height: 1;
}
.Schedule-categoryIcon::before, .Schedule-categoryIcon::after {
  content: "";
  display: inline-block;
  width: $category-icon-size;
  height: calc($category-icon-size / 3);
  vertical-align: top;
  border-radius: 3px;
  background: transparent;
  will-change: background;
  -webkit-transition: background .3s;
  transition: background .3s;
  margin-bottom: 3px;
  margin-right: 5px;
}
.Schedule-categoryIcon::after {
  position: absolute;
  left: 20px;
  top: 0;
}

/* venue color */

.Schedule-categoryIcon[data-venue="201A"]::before, .Schedule-item[data-venue="201A"] {
  background: #29ABE2;
}
.Schedule-categoryIcon[data-venue="201B"]::before, .Schedule-item[data-venue="201B"] {
  background: #8CC63F;
}
.Schedule-categoryIcon[data-venue="201C"]::before, .Schedule-item[data-venue="201C"] {
  background: #00A99D;
}
.Schedule-categoryIcon[data-venue="201F"]::before, .Schedule-item[data-venue="201F"] {
  background: #0071BC;
}
.Schedule-categoryIcon[data-venue="4F Joy"]::before, .Schedule-item[data-venue="4F Joy"] {
  background: #F7931E;
}
.Schedule-categoryIcon[data-venue="4F Elegance"]::before, .Schedule-item[data-venue="4F Elegance"] {
  background: #EA6955;
}
.Schedule-item[data-venue="201B+C"] {
  background: #8CC63F;
}
.Schedule-item[data-venue="201A+F"] {
  background: #29ABE2;
}
.Schedule-categoryIcon[data-venue="201B+C"]::before {
  background: #8CC63F;
  margin-right: 25px;
}
.Schedule-categoryIcon[data-venue="201A+F"]::before {
  background: #29ABE2;
  margin-right: 25px;
}

.Schedule-categoryIcon[data-venue="201B+C"]::after {
  background: #00A99D;
}
.Schedule-categoryIcon[data-venue="201A+F"]::after {
  background: #0071BC;
}

/* venue text */
.Schedule-categoryIcon[data-venue] span {
  display: none;
  font-weight: 300;
  font-size: $mobile-fontsize;
}


@media screen and (min-width: $breakpoint) {
  $desktop-padding: 20px;
  $desktop-item-leftstop: 200px;
  $desktop-fontsize: 1.1em;

  .Schedule-dayButton {
    font-size: $mobile-fontsize;
    padding: 15px $desktop-padding;
  }

  .Schedule-dayButtonLeftstop:before {
    content: "";
    height: 10px;
    border-left: 1px solid #b0B0B0;
    position: absolute;
    bottom: -10px;
  }

  .Schedule-time {
    width: calc($desktop-item-leftstop - 14px); /* 14px = event left padding */
    padding: $desktop-padding 0px $desktop-padding 20px;
    font-size: $mobile-fontsize;
  }

  .Schedule-timeEnd {
    display: inline;
  }

  .Schedule-day {
    padding: 15px $desktop-padding;
  }

  .Schedule-event, .Schedule-tagline {
    display: flex;
    padding: $desktop-padding calc(28px * 2 + $category-icon-size) $desktop-padding 14px;
  }

  .Schedule-meta {
    margin-right: 14px;
  }

  .Schedule-categoryIcon {
    top: 25px;
    right: 20px;
  }
  a.Schedule-event:before {
    display: inherit;
  }
  .Home-section section {
    font-size: $desktop-fontsize;
  }
}

@media screen and (min-width: 768px) {
  .Schedule-categoryIcon[data-venue] span {
    display: inline-block;
  }
  .Schedule-categoryIcon::before, .Schedule-categoryIcon::after {
    height: $category-icon-size;
  }
  .Schedule-dayButton {
    padding: $computer-padding;
    margin-right: 10px;
  }
  .Schedule-categoryIcon {
    top: 15px;
  }
  .Home-section {
    border: 1px solid #B0B0B0;
    border-radius: 15px;
  }

}

} /* ends :global */
