
[class^="icon-"] svg, [class*=" icon-"] svg {
  position: absolute;
  top: 13px;
  left: -1.3em;
  z-index: 2;
  fill: currentColor;
  width: 2em;
  height: 2em;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  content: "";
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* make a round */
  border-radius: 50%;
  top: 13px;
  left: -1.3em;
  color: #fff;
  width: 2em;
  height: 2em;
  vertical-align: middle;
  display: inline-block;
  z-index: 1;
  position: absolute;

}

.about:before {
  background: #20C1D1;
}
.agenda:before {
  background: #E8687F;
}
.side_event:before {
  background: #00A69A;
}
.speaker:before {
  background: #EA3D48;
}
.taipei:before {
  background: #2995DF;
}
.ticket:before {
  background: #89C33F;
}
.venue:before {
  background: #EE5A24;
}
