

.root {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: #F19E44;
  color: #FFF;
  display: block;
  box-shadow: 0px -1px 4px 0px rgba(0,0,0,0.50);
  z-index: 50;
}

.ham {
  display: none;
  cursor: pointer;
}

.brand {
  display: block;
  width: 100%;
}

.title {
  float: left;
  font-family: Audiowide;
  margin: 0;
  text-transform: uppercase;
  padding: 12px 18px 0 26px;
}

.title a {
  text-decoration: none;
  color: #FFF;
  width: auto;
  display: block;
  overflow: hidden;
}

.logo {
  width: 170px;
  height: auto;
}

img {
  width:100%;
  height: auto;
}

.live {
  float: right;
  display: inline-block;
  padding-top: 13px;
}

.menu {
  float: right;
  margin: 0;
  padding: 0;
  list-style: none;
  height: 60px;
  margin-right: 5px;
}

.item {
  display: inline-block;
  height: 100%;
}

.item a,
.item span {
  display: block;
  height: 100%;
  padding: 21px 12px;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  color: #FFF;
  position: relative;
  margin-right: 30px;
  font-weight: 600;
}

.item a {
  text-decoration: none;
  color: #FFF;
}

.item a.active {
  /*background-color: #FFF;*/
  /*color: #000;*/
  text-decoration: none;
}

.item a.active i:after, .item a:hover i:after {
  /*background-color: #FFF;
  color: #000;
  box-shadow: 0px -1px 2px 0px rgba(0,0,0,0.50);*/

  content: "";
  background: linear-gradient(to bottom, rgba(214,73,84,0.8) 0%,rgba(230,74,68,0) 100%); 
  position: absolute;
  width: 2em;
  height: 2em;
  top: 1.5em;
  left: -0.6em;
  transform: rotate(-45deg);
  z-index: 0;
}

.item a[data-islink="false"]:hover::after, .item a[data-islink="false"]:focus::after {
  content: "release soon";
  position: absolute;
  background: #fff;
  padding: 7px;
  border-radius: 5px;
  bottom: -1em;
  left: 1em;
  color: #4D4D4D;
  display: inline-block;
  z-index: 3;
  box-shadow: 3px 3px 3px #999;
  font-weight: 300;
  font-size: xx-small;
  width: 6em;
}


.lang {
  position: absolute;
  right: 0;
  top: 0;
  height: 60px;
}

.button {
  display: inline-block;
  color: #FFF;
  padding: 21px 5px 0 0;
  height: 100%;
  line-height: 1;
  width: 80px;
  text-decoration: none;
  text-align: right;
  cursor: pointer;
}

.button:hover {
  color: #000;
}

@media screen and (max-width: 1024px) {
  .root {
    display: block;
  }

  .title {
    float: right;
  }

  .ham {
    display: block;
    margin-top: 4px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 10px;
    transform: scale(0.5);
  }

  .ham path {
    fill: #FFF;
  }

  .ham:hover path {
    opacity: 0.7;
  }

  .menu {
    margin-left: 0;
  }

  .item {
    display: block;
    width: 100%;
    background-color: #F19E44;
  }



  .button {
    width: 64px;
    padding-right: 12px;
  }
  .menu {
    float: left;
    margin-top: 60px;
  }
  .item a,
  .item span {
    margin-left: 60px;
  }
}

@media screen and (max-width: 430px) {
  .title {
    padding: 13px 15px 0 21px;
    font-size: 16px;
    line-height: 36px;
  }
  .title a {
    width: 40px;
  }

  .lang > .button {
    padding-right: 8px;
  }
}

