@media screen and (min-width: 1200px) {
	.root {
	  background-image: url('/images/background-left.png'), url('/images/background-right.png');
	  width: 100%;
	  position: relative;
	  background-repeat: repeat-y, repeat-y;
	  background-position: top left, top right;
	}
}

.root {
	margin-top: 60px;
}

/* go top */

.scroll {
  opacity: 0;
  background-color: #F19E44;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  border-radius: 7px;
  border: none;
  transition: opacity 0.6s;
  padding: 3px 0;
  z-index: 99;
  cursor: pointer;
}

.scroll[data-top="false"] {
	opacity: 0.7;

	&:hover {
    opacity: 1;
  }
  &:active {
    opacity: 1;
  }
  &:focus {
  	outline: none;
  }
}
.arrow_up i {
  color: white;
  transform: rotate(90deg);
  font-size: 33px;
}