@media screen and (min-width: 1200px) {
	.root {
	  background-image: url('/images/background-left.png'), url('/images/background-right.png');
	  width: 100%;
	  position: relative;
	  background-repeat: repeat-y, repeat-y;
	  background-position: top left, top right;
	}
}

.root {
	margin-top: 60px;
}